body
{
	background: #ecd7d7;
	min-height: 100%;
	background-image: -webkit-linear-gradient(180deg,#ecd7d7 50%,#d6d8ea 50%);
}
.custom
{
	position: relative;
	width: 20rem;
	margin: auto;
	top: 17rem;
}
.custom-btn
{
	position: relative;
	left: 47%;
	width: 6rem;
	top: 18rem;
	font-weight: bold;
}
input
{
	text-align: center;
}
.form-control
{
	font-weight: bold;
}
h1
{
	text-align: center;
	color: red;
}